@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Details";
}
@model List<OnlineFoodDelivery.Web.ViewModels.CartItemViewModel>
<h2>Checkout</h2>

<table class="table" style="color:white">
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Item.Title</td>
                <td>@item.Item.Price</td>
                <td>@item.Quantity</td>
                <td>@(item.Item.Price * item.Quantity)</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <h4>Total Amount: ₹@ViewData["TotalAmount"]</h4>
</div>

<a href="@Url.Action("PaymentGateway", "Carts")" class="btn btn-primary">Proceed To Pay</a>
