@using Microsoft.AspNetCore.Identity
@using OnlineFoodDelivery.Models
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
}

@if (UserManager.GetUserName(User) == "admin@gmail.com")
{
    <h1 class="text-center">All Users</h1>
    <div class="container mt-5">
        <div class="card bg-dark text-white">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th scope="col">UserName</th>
                                <th scope="col">Email</th>
                                <th scope="col">Address</th>
                                <th scope="col">City</th>
                                <th scope="col">Postal Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>@user.Name</td>
                                    <td>@user.Email</td>
                                    <td>@user.Address</td>
                                    <td>@user.City</td>
                                    <td>@user.PostalCode</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row justify-content-end">
            <div class="col-6 text-right">
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info">Register</a>
            </div>
        </div>
    </div>
}
else
{
    <h1>Oops! Error Occurred</h1>
}
